{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
<div class="card" style="width: 20rem;">
    <a href="{% url 'post_detail' slug=post.slug %}">
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <time>{{ post.published_date }}</time> <br>
                {% for tag in post.tag.all %}
                  <a class="tag-btn" href="{% url 'tag' tag.slug %}" >Tag:-{{ tag }}</a>
                  {% endfor %}
        <br><a href="{% url 'category' slug=post.category.slug %}" class="cat">Category:-{{post.category}}</a>
        <hr>
        <p class="card-text">{{post.text |truncatechars:50}}</p>
        <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-primary">Read more</a>
    </div>
   
</div>

{% endfor %}
{% endblock %}