body{
    background-color: #d3cece;
}
.page-header {
    background-color: #e86305;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 100px;
}

.signup_btn {
    /* position: absolute; */
    padding: 10px 10px;
    /* margin-left: 67%; */
    /* margin-top: 10px; */
    /* gap: 20px; */
}

.logout_btn {
    margin-top: 5px;
    margin-left: 25px;
    position: absolute;
    padding: 10px 10px;


}

/* .post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
} */

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 15px;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

.col {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.card-img-top {
    border-radius: 55%;
    margin-left: 32%;
    margin-top: 30px;
    width: 35%;
    height: 110px;
}

.card-body {
    text-align: center;
}

.card {
    /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); */
    box-shadow:  0 5px 20px rgb(67, 66, 66);
    
    background-color: #eae6e6;
   
}