body {
    background-color: #d3cece;
}

.page-header {
    background-color: #e86305;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}


.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 100px;
}

.signup_btn {
    /* position: absolute; */
    padding: 10px 10px;
    /* margin-left: 67%; */
    /* margin-top: 10px; */
    /* gap: 20px; */
}

.logout_btn {
    margin-top: 5px;
    margin-left: 25px;
    position: absolute;
    padding: 10px 10px;


}

.post {
    margin-bottom: 10px;
    margin-bottom: 70px;
}

.btn-secondary,
.btn-secondary:visited {
    position: absolute;
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 88%;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

.col {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7rem;
    gap: 40px;
    /* justify-content: space-between; */
}

.card-img-top {
    border-radius: 55%;
    margin-left: 32%;
    margin-top: 30px;
    width: 35%;
    height: 110px;
}

.card-body {
    text-align: center;
}

.card {
    /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0 5px 20px rgb(67, 66, 66);

    background-color: #eae6e6;

}

/* for poest_detail page */
.title_img {
    border-radius: 100%;
    width: 13%;
    height: 68px;
    
}

.tit_im {
    border-radius: 100%;
    width: 66px;
    height: 66px;
}

.post_title {
    position: absolute;
    margin-top: -4.5%;
    margin-left: 4.5%;
    font-size: 40px;
    font-family: 'Lobster', cursive;

}

.date {
    margin-top: 25%;
    margin-left: 49%;
    position: absolute;
    color: #828282;
}



.thum_im {
    position: absolute;
    width: 100%;
    height: 100%;
}
.post-detail{
    /* border: 2px solid #000; */
    position: absolute ;
    width: 37%;
    height: 25%;
    margin-top: 28%;
    margin-bottom: 5%;
    margin-left: 24%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.comment-box{
    margin-right: 9%;
  width: 70%;
  margin-top: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.last-detail{
    margin-top: 40%;
    text-align: center;
    width: 100%;
    height: 8%;
    background-color: black;
    color: white;
}